{% assign publication_posts = site.posts | contains: 'categories', 'publications' %}



<div id="awards" class="container py-5">
  <h2 class="section-title">Awards & Honors</h2>
  <div class="row g-4">
    {% assign awards = site.data.awards %}
    {% for award in awards %}
    <div class="col-md-6 col-lg-4">
      <div class="award-card h-100">
        <div class="award-year">{{ award.year }}</div>
        <h5 class="award-title">{{ award.title }}</h5>
        <p class="award-organization">{{ award.org }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!--
<div id="awards" class="container py-5">
    <h2 class="col-md-12">Awards & Honors</h2>
  
    <div class="timeline2">

        <div class="timeline-item2">
            <div class="timeline-date2">2025</div>
            <div class="timeline-content2">
                <h3>Microbiome Research Fellowship</h3>
                <p>UMD, Microbiome Center</p>
            </div>
        </div>

        
        <div class="timeline-item2">
            <div class="timeline-date2">2024</div>
            <div class="timeline-content2">
                <h3>Microbiome Summer Research Award</h3>
                <p>UMD, Microbiome Center</p>
            </div>
        </div>
      
        <div class="timeline-item2">
            <div class="timeline-date2">2024</div>
            <div class="timeline-content2">
                <h3>Thomas G. Mason Interdisciplinary Research Fund</h3>
                <p>Department of Physics, UMD</p>
            </div>
        </div>

      <div class="timeline-item2">
            <div class="timeline-date2">2024</div>
            <div class="timeline-content2">
                <h3>International Conference Student Support Award</h3>
                <p>Graduate School, UMD</p>
            </div>
        </div>


        <div class="timeline-item2">
            <div class="timeline-date2">2020</div>
            <div class="timeline-content2">
                <h3>Levenstein Award</h3>
                <p>University of Syracuse</p>
            </div>
        </div>

        
        <div class="timeline-item2">
            <div class="timeline-date2">2020</div>
            <div class="timeline-content2">
                <h3>SPIE travel grant </h3>
                <p> MKS Instuments</p>
            </div>
        </div>

       <div class="timeline-item2">
            <div class="timeline-date2">2019</div>
            <div class="timeline-content2">
                <h3> Mitacs GRI Award </h3>
                <p> Canada</p>
            </div>
        </div>

      <div class="timeline-item2">
            <div class="timeline-date2">2015</div>
            <div class="timeline-content2">
                <h3> Inspire Scholarship </h3>
                <p> Government of India</p>
            </div>
        </div>
      
    </div>
</div>
-->
