
<div class="container" id="experience">
    <h2>Experience</h2>
    <div class="timeline">
        <!-- Experience 1 -->
        <div class="timeline-item">
            <div class="timeline-date">2020 - now</div>
            <div class="timeline-content">
                <h4>MIT</h4>
                <p>Ph.D. Student<br>Chemical Engineering</p>
            </div>
        </div>

        <!-- Experience 2 -->
        <div class="timeline-item">
            <div class="timeline-date">2018 - 2020</div>
            <div class="timeline-content">
                <h4>Johns Hopkins University</h4>
                <p>M.S.E. Student<br>Chemical and Biomolecular Engineering</p>
            </div>
        </div>

        <!-- Experience 3 -->
        <div class="timeline-item">
            <div class="timeline-date">2014 - 2018</div>
            <div class="timeline-content">
                <h4>Peking University</h4>
                <p>B.Sc. Student<br>Chemistry and Molecular Engineering</p>
            </div>
        </div>

        <!-- Experience 4 -->
        <div class="timeline-item">
            <div class="timeline-date">Jun-Aug 2020</div>
            <div class="timeline-content">
                <h4>Los Alamos National Lab</h4>
                <p>Machine Learning Scientist, Intern<br>Computer, Computational, and Statistical Sciences Division</p>
            </div>
        </div>
    </div>
</div>
