{% assign publication_posts = site.posts | contains: 'categories', 'publications' %}
<div id="experience" class="container" >
    <h2 class="section-title">Experience</h2>
    <div class="timeline">
        <!-- Experience 0 -->
        <div class="timeline-item">
            <div class="timeline-date">May-Aug 2026</div>
            <div class="timeline-content">
                <h4>Elanco Animal Health, Indianapolis, IN</h4>
                <p>AI Research &amp; Development Intern</p>
            </div>
        </div>

        <!-- Experience 1 -->
        <div class="timeline-item">
            <div class="timeline-date">May 2024 - Dec 2025</div>
            <div class="timeline-content">
                <h4>Microbiome Center, UMD</h4>
                <p><a href="https://microbiome.umd.edu/team/2024-summer-interns/">Summer Intern</a><br>ML based virus-microbe network inference</p>
            </div>
        </div>

        <!-- Experience 2 -->
        <div class="timeline-item">
            <div class="timeline-date">Aug 2021 - Present</div>
            <div class="timeline-content">
                <h4>Georgia Tech &amp; University of Maryland</h4>
                <p>Graduate Research Assistant (Simons Foundation)<br>Physics</p>
            </div>
        </div>

        <!-- Experience 3 -->
        <div class="timeline-item">
            <div class="timeline-date">Summer 2019</div>
            <div class="timeline-content">
                <h4>Univeristy of British Columbia, Canada</h4>
                <p>Mitacs Graduate Research Intern<br> Instumentation Engineering</p>
            </div>
        </div>
        
        <!-- Experience 4 -->
        <div class="timeline-item">
            <div class="timeline-date">2017 - 2021</div>
            <div class="timeline-content">
                <h4>Indian Institute of Science Education and Research (IISER) Kolkata</h4>
                <p>Research (Optimal Control &amp; Stochastic Modeling)<br>Physics</p>
            </div>
        </div>

      <!-- Experience 5 -->
        <div class="timeline-item">
            <div class="timeline-date">2018</div>
            <div class="timeline-content">
                <h4>National Center for Radio Astrophysics (NCRA)</h4>
                <p>Visiting Summer Research Program <br>Radio Astrophysics (Pulsar division)</p>
            </div>
        </div>


        
    </div>
</div>
