{% assign publication_posts = site.posts | contains: 'categories', 'publications' %}
<div class="container" id="experience">
    <h2>Experience</h2>
    <div class="timeline">
        <!-- Experience 1 -->
        <div class="timeline-item">
            <div class="timeline-date">2023 - now</div>
            <div class="timeline-content">
                <h4>University of Maryland, College Park, US.</h4>
                <p>Ph.D. Student<br>Physics</p>
            </div>
        </div>

        <!-- Experience 1b -->
        <div class="timeline-item">
            <div class="timeline-date">2021 - 2023</div>
            <div class="timeline-content">
                <h4>Georgia Tech, Atlanta, US.</h4>
                <p>Ph.D. Student<br>Physics</p>
            </div>
        </div>

        <!-- Experience 2 -->
        <div class="timeline-item">
            <div class="timeline-date">2018 - 2021</div>
            <div class="timeline-content">
                <h4>Univeristy of British Columbia, Canada</h4>
                <p>Mitacs Graduate Research Intern<br> Instumentation Engineering</p>
            </div>
        </div>
        
        <!-- Experience 3 -->
        <div class="timeline-item">
            <div class="timeline-date">2018 - 2021</div>
            <div class="timeline-content">
                <h4>Indian Institute of Science Education and Research (IISER) Kolkata</h4>
                <p>B.S.-M.S.<br>Physics (Applied Optics and stochastic Physics)</p>
            </div>
        </div>

      <!-- Experience 4 -->
        <div class="timeline-item">
            <div class="timeline-date">2018</div>
            <div class="timeline-content">
                <h4>National Center for Radio Astrophysics (NCRA)</h4>
                <p>Visiting Summer Research Program <br>Radio Astrophysics (Pulsar division)</p>
            </div>
        </div>


        
    </div>
</div>
