
<div class="media-container">
    <h1 class="section-title" id="media">Media Coverage</h1>

    <div class="media-frame">
        <div class="iframely-embed">
            <div class="iframely-responsive" style="padding-bottom: 56.25%; padding-top: 120px;">
                <a href="https://researchmatters.in/news/natural-process-may-hold-clue-secure-encryption-communications" data-iframely-url="//iframely.net/etUtg1j"></a>
            </div>
        </div>
        <script async src="//iframely.net/embed.js"></script>
    </div>
    
    <div class="media-frame">
        <iframe src="https://heyzine.com/flip-book/fe74c0b1da.html#page/13" title="'Complex Systems' Simplified: Nobel Prize in Physics"></iframe>
    </div>
</div>
