<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="media-container">
    <h1 class="section-title">Media Coverage</h1>
    <div class="media-frame">
        <iframe src="https://researchmatters.in/news/natural-process-may-hold-clue-secure-encryption-communications" title="A natural process may hold the clue to secure encryption of communications"></iframe>
    </div>
    <div class="media-frame">
        <iframe src="https://heyzine.com/flip-book/fe74c0b1da.html#page/13" title="'Complex Systems' Simplified: Nobel Prize in Physics"></iframe>
    </div>
    <!-- Add more frames as needed -->
</div>

</body>
</html>
