---
layout: default
title: Research
---

<div class="research-section py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="research">
                <h2>Research</h2>
                <img src="images/research_webpage.png" alt="Research Image" class="research-image">
                
                 <p style="text-align:justify">
                    <!-- Add your research description here. -->
                    My area of expertise is in Physics and Deep Learning. I study complex systems using the methods dynamical systems, controls & optimization. These quantitative
                    methods are broadly applicable to different types of complex systems in Biology, Data Science, Physics and Finance. Here are a few topics I have focused on:<br>
                 </p>
                 <p style="text-align:justify">
                    1. <strong> Inference in Biology:</strong> For my PhD, I created Bayesian inverse models for one virus infecting one microbe. Then we tried to understand if
                    this model scales to multiple viruses and microbes interacting together. Deploying our Bayesian models on experimental datasets,
                    we found there can be multiple higher order interactions and emergent effects in the community. Next, I created a multimodal inference scheme, where I
                    leverages data and models from Physics, ML, and Ecology -- such multimodal scheme improves both parameter inference and time-series forecasting on Viral and Microbial population datasets. <br>
                </p>
                 <p style="text-align:justify">
                    2. <strong>LLM and time series:</strong> I worked on understand the limits of LLMs in time series forecasting on complex systems, based on Physics experiments. We found methods to improve forecasting 
                    by ensemble averaging tokens, such that, under constained context window our method outperforms LLMS whose tokens have not been engineered. <br>
                </p>
                 <p style="text-align:justify">
                    3. <strong>Stochastic time series:</strong> I worked extensively on stochastic time series coming from Brownian probes. I developed an iterative algorithm to study the randomness in those trajectories. 
                    The ML algorithm featured with NIST tests for randomness extracts best possible "true random numbers", unlike computer generated "pseudo-random numbers". <br>
                </p>
                 <p style="text-align:justify">
                    4. <strong>Control and optmization: </strong> I developed an online feedback-control algorithm
                    to maximise the Signal to Noise radio while performing broadband microrheology measurement on these stochastic probes. We improved the SNR 10x on a 10^3 Hz bandwidth. We used our method to study viscoelasticity of Lamin proteins. <br>
                </p>
            </div>
        </div>
    </div>
</div>
