{% assign publication_posts = site.posts | contains: 'categories', 'publications' %}
<div id="talks" class="container py-5">
    <h2 class="section-title text-center">Talks</h2>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/portrait.jpg" alt="Talk Image 1">
        </div>
        <div class="talk-content">
            <h3>Multimodal Inference of virus-microbe networks from population dynamics</h3>
            <p class="talk-meta"> Statistical Inference of Network Models | June 16, 2024</p>
            <p class="talk-meta"> UMD, Physics of Living Systems seminar | April 19, 2024</p>
            <p class="talk-description"> Delivered a talk on using multimodal machine learning, that integrates data, ML model, Physics etc, to infer network edges. </p>
        </div>
    </div>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/talk2.jpg" alt="Talk Image 2">
        </div>
        <div class="talk-content">
            <h3> Bayesian inference of emergent traits and higher order interactions is virus-microbe communities. </h3>
            <p class="talk-meta">UMD Department of Physics | November 3, 2024</p>
            <p class="talk-meta">UMD MathBio seminar | December 5, 2023</p>
            <p class="talk-description"> The talk is on how life-history traits of a single strain of virus infecting a single strain of microbe is changed when put together in a complex
            community with multiple interacting strains. I start by building an inverse model for pairwise interactions. I talk how the forward version of that models cannot fit the community data.
            Next I build up a scaled up model for the community interactions and use Bayesian inference to infer life-history traits of these strains. But that cannot also describe the community completely. Only by 
            integrating data and model iteratively and taking into consideration the higher order emergent effects, we can capture the community transient dynamics of these strains.</p>
        </div>
    </div>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/portrait.jpg" alt="Talk Image 3">
        </div>
        <div class="talk-content">
            <h3>Advanced Thermodynamic Systems</h3>
            <p class="talk-meta">Graduate School, UMD | June 2024</p>
            <p class="talk-description">Discussed the use of advanced thermodynamic models in analyzing complex systems, highlighting recent breakthroughs.</p>
        </div>
    </div>

    <!-- Add more talk items as needed -->
</div>
