{% assign publication_posts = site.posts | contains: 'categories', 'publications' %}
<div id="talks" class="container py-5">
    <h2 class="section-title text-center">Talks</h2>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/portrait.png" alt="Talk Image 1">
        </div>
        <div class="talk-content">
            <h3>Multimodal Inference of Virus-Microbe networks from population dynamics</h3>
            <p class="talk-meta"> Statistical Inference of Network Models | June 16, 2024</p>
            <p class="talk-description"> Delivered a talk on using multimodal machine learning, that integrates data, ML model, Physics etc, to infer network edges. </p>
        </div>
    </div>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/portrait.png" alt="Talk Image 2">
        </div>
        <div class="talk-content">
            <h3>Interdisciplinary Research in Physics</h3>
            <p class="talk-meta">UMD Department of Physics | July 2024</p>
            <p class="talk-description">Presented findings on integrating physics and microbiome research, focusing on interdisciplinary approaches.</p>
        </div>
    </div>

    <div class="talk-item">
        <div class="talk-img">
            <img src="./../images/portrait.png" alt="Talk Image 3">
        </div>
        <div class="talk-content">
            <h3>Advanced Thermodynamic Systems</h3>
            <p class="talk-meta">Graduate School, UMD | June 2024</p>
            <p class="talk-description">Discussed the use of advanced thermodynamic models in analyzing complex systems, highlighting recent breakthroughs.</p>
        </div>
    </div>

    <!-- Add more talk items as needed -->
</div>
